body {
  background-color: #16273c;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
p {
  padding: 0%;
  margin: 0%;
}
.scrole-height {
  height: 80vh;
  overflow: hidden;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.content-box-area {        
  box-shadow: 
  inset 0px -11px 8px -10px rgba(0, 0, 0, 0.500); 
  box-shadow: 0px -11px 8px -10px rgba(0, 0, 0, 0.500); 
}

.search-input-parent {
  margin: auto;
  border-radius: 25px;
  background: rgba(22, 0, 56, 0.21);
  transition: all .3s;
}
.b-sidebar {
  background-color: #2b3542 !important;
}
#sidebar-left___title__ {
  color: rgba(211, 211, 211, 0.514);
  /* color: white !important; */
}
.close {
  color: #fff;
  border: none;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius:5px;
  background-image: linear-gradient(to bottom right, #8929ad, #436aac, #43b7b8);
}
.close .bi-x {
  color: white;
}
#modal-center___BV_modal_footer_ .btn-primary {
  display: none !important;
}
#modal-center___BV_modal_footer_ .btn-secondary {
  display: none !important;
}
.search-input {
  background-color: transparent;
  border: none;
}
.search-input:focus {
  color: white;
  background-color:transparent ;
}
.btn-background {
  background-image: linear-gradient(to bottom right, #8929ad, #436aac, #43b7b8);
}
.icon-area {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: rgba(211, 211, 211, 0.179);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  color: gray;
}
.li-for-dashboard-items {
  transition:all .2s;
  cursor: pointer;
}
.li-for-dashboard-items:hover {
  border-right:3px solid  #8929ad;
  border-radius: 0px 4px 4px 0px;
}
.li-for-dashboard-items:hover .icon-area{
  background-image: linear-gradient(to bottom right, #8929ad, #436aac, #43b7b8);
  color: white;
}

.li-for-dashboard-items:hover .li-text{
  color: white !important;
}
.li-text {
  transition: .2s;
}
.content-box-area {
  background-color: #ffffff1f;
  border-radius: 10px;
}
#modal-center___BV_modal_content_ {
  background: #16273c;
  
}
#modal-center___BV_modal_content_ h5 {
  color: #fff;  
}
#modal-center___BV_modal_header_ {
  border: none;
}
#modal-center___BV_modal_footer_ {
  border: none;
}
.low-opacity-background {
  background: rgba(22, 0, 56, 0.095);
}
li {
  list-style-type: none;
}
ul {
  margin: 0% !important;
  padding: 0% !important;
}
input:focus {
  box-shadow: none !important;
}
.box-sells-statistics {
  border-radius: 10px;
  height: 200px;
  box-shadow: 4px 7px 5px -2px rgba(0, 0, 0, 0.388);
}
.purple-gradient {
  background: #732291
  }
.dark-blue-gradient {
  background: #16558f
}
.light-blue-gradient {
  background:#0583d2
}
.icon-area-sell-page {
  background: rgba(43, 43, 43, 0.333);
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset -10px -5px 7px -7px rgba(0, 0, 0, 0.637);
}
.height-220 {
  height: 220px !important;
}


.header-logo-parent {
  width: 100%;
}
.header-logo {
  width: 50%;
  border-radius: 10px;
}
.link a {
  color: rgb(92, 92, 92);
  text-decoration: none;
  transition: all 0.2s;
}
.link:hover a {
  text-decoration: none;
  color: orange;
}


@media screen and (max-width: 666px) {
  .header-logo {
    width: 100%;
  }
  .item-header-bar {
    margin: 0;
  }
}
.carousel-img {
  width: 50%;
}
.add-to-cart {
  font-size: 14px;
  text-decoration: none;
  color: rgb(71, 71, 71);
  transition: all .2s;
}
.add-to-cart:hover {
  color: orange;
}
.add-to-cart:focus {
  box-shadow: none;
}
.cash-range {
  font-size: 25px;
  font-weight: bold;
  color: orange;
}
.world-image-parent {
  width: 100%;
  height: 100%;
}
.world-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.companyinfo h2 {
  color: lightgrey;
}
.companyinfo p {
  color: rgb(163, 162, 162);
}
.companyinfo span {
  color: orange;
}
.footer-parent {
  box-sizing: border-box;
  background: rgb(241, 239, 239);
}
.footer-end-part {
  font-weight: bold;
  background: rgb(223, 222, 222);
}
.about-desc {
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.about-address {
  background:rgb(255, 153, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(233, 233, 233, 0.877);
  font-weight: bold;
  font-size: 17px;

  border-radius: 5px;
}
.product-slider-btn {
  background: rgb(231, 231, 231);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
  color: black;
  border-top: 2px solid black;
  border-right: 3px solid orange;
  border-left: 3px solid black;
  border-bottom: 2px solid orange;
  transition: .2s;
}
.product-slider-btn:hover  {
  color: orange;
}
.carousel-content {
  margin-top: 20px;
  background:white !important;
}
.card-img-top {
  height: 200px;
  object-fit: contain;
}
.card {
  height: 400px;
  width: 290px;
}
.card-text {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.image-form-slider {
  height: 300px !important;
}
.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.discription-from-slider {
  height: 165px;
}
.title-from-slider {
  height: 50px;
}
.carousel-control-next {
  display: flex;
  justify-content: end;
}
.carousel-control-prev {
  display: flex;
  justify-content: start;
}
.image-for-single-page {
  border-radius: 20px;
  width: 400px;
  height: 350px;
  object-fit: contain;
}
.number-input-single-page {
  text-align: center;
  width: 50px;
}
.login-form {
  margin: 70px 0px;
  width: 100%;
  border-bottom: 4px solid orange ;
}

.error-input{
  border:1px solid red !important; 
}
.error-text {
  color: red;
}
.main-input {
  border: none;
  background: #2b3542;
  color: #fff;
  border-radius: 7px;
  padding:  8px 10px;
  transition: all .3s;
}

.main-input:focus {  
  background: #2b3542;  
  color: #fff;

}

.main-page-content-scroll-area {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 426px) {
  .card {
    width: 100%;
  }
  .search-input-parent {
    width: 100% !important;
  }
}